body {
    background-image: url(/CSS/images/images/butterfly.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-size: 25%;}